<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.dumpen.app">

    <!-- Krävs för att ladda inlägg och bilder från dumpen.se -->
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <!-- Krävs av url_launcher för att kunna öppna länkar -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <!-- Krävs för Swish-länkar -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="swish" />
        </intent>
    </queries>

    <application
        android:label="Dumpen"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="false">

        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
